.container{
    text-align: center;
}

.container-description{
    margin: 3em 0;
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.description-title{
    color: var(--color-primary);
    font-family: var(--font-family-header);
    font-weight: 800;
}

.description-text{
    font-size: 14px;
    color: var(--color-secondary);
}

.container-button{
    background-color: var(--background-color-decoration);
    font-family: var(--font-family-primary);
    width: 300px;
    color: var(--color-white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 0.8em 0;
    border-radius: 2em;
}

.container-button:hover{
    background-color: #ff8ed6;
}

@media screen and (min-width: 768px){
    .description-text{
        padding: 0 20%;
    }
    .container-button{
        padding: 1.2em 0;
    }
    .description-text{
        font-size: 15px;
    }
}

@media screen and (min-width: 1280px){
    .container-description{
        margin: 4.5em 0;
    }
    .description-title{
        font-size: 48px;
    }
    .description-text{
        width: 35%;
        font-size: 21px;
    }
    .container-button{
        margin-top: 2em;
        width: 22%;
        font-size: 21px;
    }
}